<%-include('../includes/Head.ejs')%>
<%- include('../includes/Navigation.ejs') %>
<div>
  <h1>Node shopping</h1>
   <div>Enter your Address <input/></div>
   <form action="/create-order" method="post">
    <button type="submit">Place An order</button>
   </form>
</div>

 
<%- include('../includes/End.ejs') %>








